<footer class="footer">
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-5">
                <div class="brand-wrapper">
                    <a routerLink=""><img src="assets/images/logo.png" alt="logo" class="logo">Grocery Store</a>
                </div>
                <p><strong>grocerystore.com </strong>allows you to walk away from the drudgery of grocery shopping and welcome an easy relaxed way of browsing and shopping for groceries.</p>
            </div>
            <!-- <div class="col-md-2">
                <h3 class="text-success">Quick Links</h3>
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/product">Products</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div> -->
            <div class="col-md-4">
                <h3 class="text-success">Contact Us</h3>
                <p>123, MG Road, Gurgaon, Haryana, India</p>
                <p>Email: abhisheklp50@gmail.com</p>
                <p>Phone: +91 91578 06213</p>
            </div>
            <div class="col-md-3">
                <h5 class="text-center">Download our app</h5>
                <br>
                <div class="download" style="display: flex; margin-left: 10px;">
                    <a href="https://play.google.com/store/apps" target="_blank"><img src="assets/images/play-store.png" alt="playStore" class="app"></a>
                    <a href="https://www.apple.com/app-store/" target="_blank"><img src="assets/images/app-store.png" alt="appStore" class="app"></a>
                </div>
                <br>
                <a routerLink="/signup"><p class="text-success text-center">Become a seller</p></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
                <p class="text-center">&copy; 2023 Grocery Store. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>